{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-hooks", "react-native", "jest"],
  "ignorePatterns": ["examples/", "**/*.js"],
  "rules": {
    "@typescript-eslint/no-non-null-assertion": ["off"],
    "@typescript-eslint/no-unused-vars": ["warn", {"varsIgnorePattern": "^_"}]
  }
}
